<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

<header>
   
    <img src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre">

<div class="search-input"> <input type="text" placeholder="Buscar productos, marcas">
 <button>
    <i class="fas fa-search"></i>
</button>
</div>
 <p>Compra en cuotas y sin tarjeta de credito<i class="fas fa-hand-holding-usd"></i> </p>


 <nav>
<ul >
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Tiendas Oficiales</a></li>
    <li><a href="#">Vender</a></li>
    <li><a href="#">Ayuda</a></li>

</ul>

<ul class="nav-bar-items">
    <li><a href="#">Crea tu cuenta</a> <i class="far fa-id-card"></i></li>
    <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
    <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>

</ul>

<div class="burger-button-container"> 
<button class="burger-button">
    
    <i class="fas fa-bars"></i>

</button>
</div>
</nav>

</header>
<main>

<section>
    <p>Basdo en tu ultima visita</p>
    <article>
<img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Molinex" class="img-inicio">
<p>$6.770</p>
<p>40% OFF</p>
<p>Cafetera Moulinex</p>
</article>
<article>
<img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" class="img-inicio">
<p>$230.000</p>
<p>20% OFF</p>
<p>MacBook Pro 2019</p>
</article>
<article>
<img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" class="img-inicio">
<p>$70.000</p>
<p>10% OFF</p>
<p>Samsung Galaxy S10</p>
</article>
<article>
<img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV" class="img-inicio">
<p>$23.200</p>
<p>5% OFF</p>
<p>SmarTV Samsung 43"</p>
</article>

</section>
<p>Seccion de Ofertas</p>

<article>
    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Molinex" class="img-inicio">
    <p>$6.770</p>
    <p>40% OFF</p>
    <p>Cafetera Moulinex</p>
    </article>
<article>
    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" class="img-inicio">
<p>$230.000</p>
<p>20% OFF</p>
<p>MacBook Pro 2019</p>
</article>

<article>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" class="img-inicio">
    <p>$70.000</p>
    <p>10% OFF</p>
    <p>Samsung Galaxy S10</p>
    </article>
    <article>




</section>

</main>


</body>
<footer>
   <ul>
             <li><p><strong> Paga con tarjeta o en efectivo</strong></p>
            Con Mercado Liebre, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!
                  </li>
             <li> <p><strong>Envío gratis desde $ 2.500</strong></p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</li>

            <li> <p><strong> Seguridad, de principio a fin</strong></p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.</li>

            <li><p><strong>Copyright © 1999-2021 MercadoLiebre S.R.L.</strong></p></li>
   </ul>
</footer>

</html>