
body{

    font-family: 'Roboto', sans-serif;
    
}

header {

background-color: #EAC926;
padding: 16px;

}
.nav-bar-items{

text-decoration: none;
color: red;


}

.search-input {


text-align: left;

}


.burger-button-container{

text-align: center;

}

.burger-button{

background-color: #0860be;
color: white;
font-size: 30px;
border-radius: 5px;


}

.img-inicio {

max-width: 100%;
height: auto;



}